#body{
    background-color: white;
    text-align: center;
     }

#h1{
    color: black;
    text-align: center;
    padding-top: 30px;
   }

h2{
    text-align: center;
    color: black;

}
h3{
    color: black
  }

img{
    size: 10px;
    margin: 50px;
    padding: 50px;
   }
#entete{
    height: 50px;
    width: 100%;
       }

#entete ul {
    margin: 0px;
    padding: 0px;
    line-height: 30px;
    background-color: whitesmoke;
           }

#entete ul li:hover{
    background-color: lightseagreen;
                   }

#entete li{
    position: relative;
    cursor: pointer;
    margin: 10px;
    border-style: hidden;
    display: inline-block;
          }

.menu, li {
    display: inline-block;
    padding: 5px;
    margin: 10px;
    font-family: cursive;
    color: black;
          }
